* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Benguiat";
  src: url(fontes/Benguiat\ Bold.ttf);
}

body {
  background-color: #0c0102;
  color: rgba(255, 255, 255, 0.9);
  font-family: "Poppins";
  overflow-x: hidden;
}

button {
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}


header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 4vw;
  position: absolute;
  z-index: 9;
}

section {
  width: 100%;
  display: flex;
  padding: 7vw;
}

button {
  background-color: transparent;
  color: white;
  font-size: 16px;
  display: flex;
  gap: 12px;
  border: none;
  outline: none;
  padding: 16px 0px;
  border-bottom: 1px solid white;
}

.hero {
  background-image: url("imagens/hero.webp");
  background-position: 50% 0%;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7vw 7vw 7vw;

  .esquerda,
  .direita {
    width: 30%;
  }

  .esquerda {
    h3 {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 4px;
    }

    h1 {
      font-size: 3.7vw;
      font-family: "Benguiat";
    }
  }

  .direita {
    display: flex;
    flex-direction: column;
    align-items: end;

    p {
      font-size: 2vw;
      margin-bottom: 32px;
      text-align: end;
    }
  }
}

h2 {
  font-weight: 400;
  font-size: 36px;
}

ul {
  list-style: none;
}

.bgMonstro {
  background-image: url("imagens/bg-sec2.webp");
  background-position: center;
}

.secaoCidade {
  flex-direction: column;

  .titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }



  .cards {
    margin-top: 52px;
    display: flex;
    justify-content: space-between;

    .card {
      background-image: url("imagens/card1.webp");
      width: 30%;
      aspect-ratio: 16/9;
      background-size: cover;
      background-position: center;
      display: flex;
      align-items: end;
      justify-content: space-between;
      padding: 20px;
    }

    .card:nth-child(2) {
      background-image: url("imagens/card2.webp");
    }

    .card:nth-child(3) {
      background-image: url("imagens/card3.webp");
    }
  }
}

.secaoDepoimentos {
  flex-direction: column;

  .logotipos {
    display: flex;
    justify-content: space-around;
    align-items: end;
  }

  .depoimentos {
    margin-top: 62px;
    display: flex;
    justify-content: space-between;

    .depoimento {
      width: 31%;
    }
  }
}

.secaoObrigado {
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 40px;
  }

  ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}

footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("imagens/bg-footer.webp");
  background-size: cover;
  background-position: center;

  .conteudoFooter {
    display: flex;
    width: 100%;
    padding: 7vw;

  }

  .logoFooter {
    width: 30%;

    h3 {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 4px;
    }

    h2 {
      font-size: 3.7vw;
      font-family: "Benguiat";
    }
  }

  .secoesFooter {
    display: flex;
    flex: 1;
    justify-content: end;
    gap: 6%;
    align-items: end;

    h3 {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 12px;
    }

    .social {
      ul {
        display: flex;
        gap: 12px;
      }
    }
  }

  .logotiposFooter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 4vw;
  }

  .textoInfinito {
    display: flex;
    width: max-content;

    h3 {
      color: rgb(194, 194, 194);
      font-size: 12vw;
      font-family: "Benguiat", sans-serif;
      mix-blend-mode: color-dodge;
      animation: TextoInfinito 10s infinite linear;
      padding-left: 3vw;
    }
  }
}

@keyframes TextoInfinito {

  100% {
    transform: translateX(-100%);
  }
}

@media (max-width:1500px) {
  .secaoCidade {
    padding: 4vw;
  }
}

@media (max-width:1400px) {
  .secaoCidade .cards .card {
    flex-direction: column;
    align-items: start;
    justify-content: end;
  }
}